<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found - up-tri's website</title>
    <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap');

      :root {
        font-family: 'Noto Sans JP', sans-serif;
      }
    </style>
  </head>
  <body class="bg-gray-200">
    <main class="w-screen h-screen flex justify-center items-center">
      <div class="w-72 p-4 shadow bg-white">
        <p class="text-2xl text-gray-700">404 Not Found.</p>
        <a class="inline-block my-2 underline text-gray-700" href="/">return to home</a>
        <div class="mt-5 text-center text-sm text-gray-400">&copy; up-tri.</div>
      </div>
    </main>
  </body>
</html>